@mixin media($size) {
    @if 
    $size == tablet1 {
      @media (max-width: 1080px) { @content; }} @else if 
    $size == tablet {
      @media (max-width: 530px) { @content; }} @else if 
    $size == tablet2 {
      @media (max-width: 819px) { @content; }} @else if 
    $size == tablet3 {
      @media (max-width: 700px) { @content; }} @else if 
    $size == tablet4 {
      @media (max-width: 650px) { @content; }} @else if 
    $size == mobile-m {
      @media (max-width: 375px) { @content; }} @else if 
    $size == mobile-s {
      @media (max-width: 320px) { @content; }} @else if 
    $size == mobile-l {
      @media (max-width: 425px) { @content; }} 
}

@mixin flex($params: null) {
  display: flex;
  $justify-content: null;
  $align-items: null;
  @each $value in $params {
    @if $value == "wrap" {
      flex-wrap: wrap;
    } @else if $value == "column" {
      flex-direction: column;
    } @else if $value == "row" {
      flex-direction: row;
    } @else if $value == "center" {
      align-items: center;
    }@else if index(space-between space-around, $value) {
      $justify-content: $value;
    } @else if index(baseline stretch, $value) {
      $align-items: $value;
    } @else if index(flex-start center flex-end, $value) {
      @if $justify-content {
        $align-items: $value;
      } @else {
        $justify-content: $value;
        @if not $align-items {
          $align-items: $value;
        }
      }
    }
  }
  justify-content: $justify-content;
  align-items: $align-items;
}
